body
{
  text-align: center;
  background-color: black;
}
img:hover
{
  cursor: pointer;
  width: 85%;
  opacity: .7;
}
.first
{
  position: relative;
  display: block;
  z-index: 1;
}
.second
{
  position: relative;
  display: none;
  z-index: -1;
}
.third
{
  display: none;
}
.ColorChange
{
  display: none;
}
.show
{
  display: block;
}
img
{
  width: 80%;
  padding: 0 auto;
  margin: 0 auto;
}
