@font-face
{
    font-family: 'starcraftnormal';
    src: url('starcraft-webfont.woff2') format('woff2'),
         url('starcraft-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-family: 'SourceSansPro', sans-serif;
  }
html
{
  font-size: 18px;
  background-color: black;
}
img
{
  max-width: 100%;
}
body
{
  color: white;
  font-family: serif;
  text-align: left;
}
h1
{
  font-family: starcraftnormal;
  text-align: center;
  font-size: 72px;
}
h2
{
  font-family: starcraftnormal;
  margin-bottom: -1px;
  font-size: 56px;
}
p
{
  line-height: 1.3em;
  font-family: SourceSansPro;
}
#container
{
  width: 90%;
  margin: 0 auto;
}
#Secondimg
{
  float: left;
  width: 36%;
  margin: 5% 0 5% 2%;
}
#textimage
{
  float: left;
  width: 100%;
}
#video
{
  float: left;
  width: 100vw;
}
.Middleimg
{
  width: 80vw;
  margin: 50px auto;
}

.Firstimg
{
  margin-top: 10%;
  margin-left: 2%;
  float: left;
  width: 36%;
}
.StarCraft
{
  margin-top: -35px;
  float: left;
  width: 62%;
}
.textsecond
{
  margin-top: -6%;
  float: left;
  width: 62%;
}
.BroodWars
{
  margin-top: 1%;
  float: left;
  width: 62%;
}
.BroodSecond
{
  margin-top: -30%;
  float: left;
  width: 62%;
}
.StarCraft2
{
  float: left;
  width: 62%;
}
.Legacy
{
  float: left;
  width: 62%;
}
@media only screen and (max-width: 1439px)
{
  .BroodSecond
  {
    margin-top: -24%;
    float: left;
    width: 62%;
  }
  .textsecond
  {
    margin-top: -2%;
    float: left;
    width: 62%;
  }
}
@media only screen and (max-width: 1023px)
{
  #Secondimg
  {
    width: 50%;
    margin: 2% 25% 0;
  }
  .Firstimg
  {
    margin-top: 5%;
    width: 80%;
    margin-bottom: 5%;
  }
  .StarCraft
  {
    margin-top: -35px;
    float: left;
    width: 80%;
  }
  .textsecond
  {
    margin-top: -5%;
    float: left;
    width: 62%;
  }
  .BroodWars
  {
    margin-top: 1%;
    float: left;
    width: 80%;
  }
  .BroodSecond
  {
    margin: 1% 0 0 0;
    float: left;
    width: 80%;
  }
  .StarCraft2
  {
    float: left;
    width: 80%;
  }
  .Legacy
  {
    float: left;
    width: 80%;
  }
}
@media only screen and (max-width: 767px)
{
  .Middleimg
  {
    width: 80vw;
    margin: 1% auto;
  }
  .Firstimg
  {
    margin: 5% auto;
    width: 80vw;
  }
  .StarCraft
  {
    text-align: center;
    margin-top: -35px;
    float: left;
    width: 100%;
  }
  .textsecond
  {
    text-align: center;
    margin-top: -5%;
    float: left;
    width: 100%;
  }
  .BroodWars
  {
    text-align: center;
    margin-top: 1%;
    float: left;
    width: 100%;
  }
  .BroodSecond
  {
    text-align: center;
    margin-top: 1%;
    float: left;
    width: 100%;
  }
  .StarCraft2
  {
    text-align: center;
    float: left;
    width: 100%;
  }
  .Legacy
  {
    text-align: center;
    float: left;
    width: 100%;
  }
}
