/***general styles********/
body
{
  background-color: steelblue;
  margin: 0;
}
/*****div Styles******/
#container
{
}
.title
{
  margin: auto;
  width: 40%;
  text-align: center;
}
.chapter
{
  margin: auto;
  text-align: center;
}
.image
{
}
.text
{
  margin: -50px auto 0;
  text-align: center;
  width: 50%;
}
/***type styles********/
p
{
  font-size: 18px;
  font-family: 'PT Serif', serif;
}
img
{
  height: 400px;
  width: 800px;
  text-align: center;
  margin: auto;
}
h1
{
  font-size: 9vw;
  font-family: sans-serif;
}
h2
{
  margin-top: -150px;
  font-size: 128px;
  font-family: 'PT Serif', serif;
}
h3
{
  margin-top: -150px;
  font-size: 108px;
  font-family: 'PT Serif', serif;
}
