body
{
  background-color: SlateBlue;

}
img
{
  max-width: 100%;
}
p
{
  font-family: cursive;
}
.intro
{
  font-family: fantasy;
}
#special
{
  font-size: 1.8em;
  font-family: sans-serif;
}
#container
{
  width: 75%;
  margin: 100px auto;
}
