@font-face
{
    font-family: 'starcraftnormal';
    src: url('starcraft-webfont.woff2') format('woff2'),
         url('starcraft-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-family: 'SourceSansPro', sans-serif;
  }
html
{
  background-color: black;
}
img
{
  max-width: 100%;
}
body
{
  color: white;
  font-family: serif;
  text-align: left;
}
h1
{
  font-family: starcraftnormal;
  text-align: center;
  font-size: 72px;
}
h2
{
  font-family: starcraftnormal;
  margin-bottom: -1px;
  font-size: 56px;
}
p
{
  font-family: SourceSansPro;
}
#container
{
  width: 85%;
  margin: auto;
}
#Firstimg
{
  float: left;
  margin: 15% 0 0 2%;
  width: 36%;
}
#Secondimg
{
  float: left;
  width: 36%;
  margin: 0 0 0 2%;
}
#Middleimg
{
  float: left;
  margin-top: 50px;
  margin-bottom: 50px;
}
.StarCraft
{
  margin-top: -35px;
  float: left;
  width: 62%;
}
.BroodWars
{
  margin-top: 1%;
  float: left;
  width: 62%;
}
.StarCraft2
{
  float: left;
  width: 62%;
}
.Legacy
{
  float: left;
  width: 62%;
}
